@using WebShopApplication.Models
@using WebShopApplication.Controllers
<style>
    body {
        background-color: cadetblue;
    }

    div {
        display: block;
        font-size: 150%;
        text-align: left;
    }

    label {
        color: cornsilk
    }

    a {
        font-family: fantasy;
        font-size: 160%;
        color: cadetblue;
        background-color: white;
    }

    .error {
        font-size: 150%;
        color: red;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        background-color: bisque;
        font-family: fantasy;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    td {
        padding: 0.7rem;
        border: 2px solid;
        border-color: black;
    }

    input {
        font-size: 22px;
    }

    .title {
        width: 10px;
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-family: fantasy;
    }

    .options {
        font-size: 27px
    }
</style>

<h1 class="options">Options:</h1>
<a href="~/Admin/ReviewProfile">Review Profile</a>
<br />
<a href="~/Admin/SellersCustomers">Review Sellers/Customers</a>
<br />
<a href="~/Admin/ReviewProducts">Review Products</a>
<br />
<a href="~/Admin/ReviewOrders">Review Orders</a>
<br />
<a href="~/Admin/Register">Register Seller</a>
<br />
<a href="~/Admin/Reviews">See Reviews</a>
<br />
<a href="~/Login/LogOut">Log Out</a>
<br />


<h1 class="title">Reviews</h1>

<div>

    <table>

        <tr>

            <td>ID</td>
            <td>Reviewer</td>
            <td>Product</td>
            <td>Title</td>
            <td>Content</td>
            <td>Image</td>
            <td>Visibility</td>
            <td>Options</td>

        </tr>

        @foreach (Review r in (List<Review>)HttpContext.Current.Application["reviews"])
        {
            <tr>
                <td>@r.ID</td>
                <td>@r.Reviewer</td>
                <td>@r.Product</td>
                <td>@r.Title</td>
                <td>@r.Content</td>
                <td>@r.Content</td>

                @if (r.Deleted == false)
                {
                    <td>Visible</td>
                }
                else
                {
                    <td>Invisible</td>
                }

                <td><img src="@SellerController.ConvertBytesToImage(r.Image)" width="150" height="150" /></td>
                <td>
                    <form action="~/Admin/ApplyVisibility" method="post">
                        <input type="hidden" value="@r.ID" name="IDOfReview" />
                        <input type="submit" value="Visible" />
                    </form>

                    <form action="~/Admin/DenyVisibility" method="post">
                        <input type="hidden" value="@r.ID" name="IDOfReview" />
                        <input type="submit" value="Invisible" />
                    </form>


                </td>
            </tr>
        }
    </table>
</div>
